.bg-theme {
    background-color: var(--theme) !important;
}

.bg-light-theme {
    background-color: var(--theme-light) !important;
}

.bg-lightest-theme {
    background-color: var(--theme-lightest) !important;
}
