.modal {
    .modal-dialog {
        .modal-content {
            padding: 15px;

            .modal-header {
                .modal-title {
                    font-weight: 600;
                }

                .btn-close {
                    width: 35px;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    transition: 0.3s all ease-in-out;
                    margin-right: 0;
                    box-shadow: 0 0 0 0 !important;

                    &:hover {
                        transition: 0.3s all ease-in-out;
                        background-color: var(--bs-border-color);
                    }

                }
            }

            .modal-body {

            }

            .modal-footer {
                font-size: 14px;
            }
        }
    }
}
