.pagination {
    .page-item {
        transition: 0.3s all ease-in-out;

        &.active .page-link {
            transition: 0.3s all ease-in-out;
            background-color: var(--theme);
            border: 1px solid transparent;
            color: var(--bs-white);
        }

        .page-link {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 0 0;
            color: var(--theme);
            border: 1px solid var(--theme);
            margin: 0 5px;
            border-radius: 6px;
            font-size: 12px;

            &:hover {
                transition: 0.3s all ease-in-out;
                background-color: var(--theme);
                border: 1px solid transparent;
                color: var(--bs-white);
            }

        }
    }
}
