:root {
    --theme: #8C57FF;
    --font-family: "Dosis", sans-serif;
    --theme-light: #9155FD33;
    --theme-lightest: #9155FD0C;
    --theme-dark: #643EAB;
    --light-black: rgb(0,0,0,0.5);
}

body {
    font-family: var(--font-family) !important;
    font-size: 14px !important;
}
