@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --theme: #8C57FF;
    --roboto-slab-font: "Lato", sans-serif;
    --theme-light: #9155FD33;
    --theme-lightest: #9155FD0C;
    --theme-dark: #643EAB;
}

body {
    font-family: var(--roboto-slab-font) !important;
}
