// admin authentication

.admin-authentication {

    .form-content {
        width: 500px;
        box-shadow: 0 0 12px 0 var(--bs-border-color);
        border-radius: 9px;
        padding: 35px;
        background-color: var(--bs-white);

        @media screen and (max-width: 576px) {
            width: 90%;
        }

    }

}

// admin for management

.admin-wrapper {
    display: flex;

    // admin sidebar

    .admin-sidebar {
        width: 250px;
        height: 100vh;

        @media screen and (max-width: 991px) {
            position: fixed;
            top: 0;
            left: -250px;
            bottom: 0;
            transition: 0.3s all ease-in-out;
            z-index: 500;
            background-color: var(--bs-white);

            @media screen and (max-width: 576px) {
                width: 100%;
                left: -100%;
            }

            &.active {
                transition: 0.3s all ease-in-out;
                left: 0;

                @media screen and (max-width: 576px) {
                    left: 0;
                }

            }

        }

        .admin-sidebar-header {
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;

            .admin-sidebar-title {
                font-size: 20px;
                text-decoration: none;
                color: var(--bs-black);
            }

            @media screen and (max-width: 991px) {
                justify-content: space-between;
                padding: 0 20px;
            }

            .btn-controller {
                border: none;
                outline: none;
                transition: 0.3s all ease-in-out;
                display: none;
                @media screen and (max-width: 991px) {
                    display: inline-block;
                }

                &:hover {
                    background-color: var(--bs-white);
                }

            }

        }

        .admin-sidebar-body {
            height: calc(100vh - 70px);
            padding: 0 10px 20px 0;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                background-color: transparent;
                width: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background: var(--bs-border-color);
                height: 5px !important;
            }

            .admin-sidebar-link {
                text-decoration: none;
                color: var(--bs-black);
                padding: 10px 15px;
                display: block;
                margin: 5px 0;
                transition: 0.3s all ease-in-out;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                font-size: 14px;

                &:hover, &.router-link-active {
                    transition: 0.3s all ease-in-out;
                    background-color: var(--theme);
                    color: var(--bs-white);
                }

            }

        }

    }

    // admin content

    .admin-content {
        width: calc(100% - 250px);
        height: 100vh;

        @media screen and (max-width: 991px) {
            width: 100%;
        }

        // admin content header

        .admin-content-header {
            height: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;

            .btn-controller {
                border: none;
                outline: none;
                transition: 0.3s all ease-in-out;
                visibility: hidden;
                background-color: var(--bs-white);
                box-shadow: 0 0 12px 0 var(--bs-border-color);
                @media screen and (max-width: 991px) {
                    visibility: visible;
                }

                &:hover {
                    background-color: var(--bs-border-color);
                }

            }

            .btn-user {
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                outline: none;
                height: 50px;

                .admin-avatar {
                    width: 45px;
                    height: 45px;
                }

            }

        }

        // admin content body

        .admin-content-body {
            height: calc(100vh - 70px);
            padding: 15px 20px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                background-color: transparent;
                width: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background: var(--bs-border-color);
                height: 5px !important;
            }

            // chat wrapper

            .chat-wrapper {
                display: flex;
                position: relative;
                overflow: hidden;
                border: 1px solid var(--bs-border-color);

                .ownerDetails{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: -350px;
                    width: 350px;
                    height: 100%;
                    background-color: var(--bs-white);
                    transition: 0.3s all ease-in-out;
                    z-index: 30;
                    padding: 15px;
                    border-right: 1px solid var(--bs-border-color);

                    &.active{
                        transition: 0.3s all ease-in-out;
                        left: 0;
                    }

                    @media screen and (max-width: 576px) {
                        width: 100%;
                    }

                    .btn-close{
                        box-shadow: 0 0 0 0 !important;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        transition: 0.3s all ease-in-out;

                        &:hover{
                            transition: 0.3s all ease-in-out;
                            background-color: var(--bs-border-color);
                        }

                    }

                    .content{
                        height: calc(100vh - 225px);
                    }

                }

                .clientDetails{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: -350px;
                    width: 350px;
                    height: 100%;
                    background-color: var(--bs-white);
                    transition: 0.3s all ease-in-out;
                    z-index: 30;
                    padding: 15px;
                    border-left: 1px solid var(--bs-border-color);

                    &.active{
                        transition: 0.3s all ease-in-out;
                        right: 0;
                    }

                    @media screen and (max-width: 576px) {
                        width: 100%;
                    }

                    .btn-close{
                        box-shadow: 0 0 0 0 !important;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        transition: 0.3s all ease-in-out;

                        &:hover{
                            transition: 0.3s all ease-in-out;
                            background-color: var(--bs-border-color);
                        }

                    }

                    .content{
                        height: calc(100vh - 225px);
                    }

                }

                .chat-sidebar {
                    width: 270px;
                    height: calc(100vh - 145px);
                    background-color: var(--bs-white);
                    border-right: 1px solid var(--bs-border-color);
                    overflow-y: hidden;
                    font-size: 14px;

                    @media screen and (max-width: 991px) {
                        position: absolute;
                        left: -270px;
                        top: 0;
                        transition: 0.3s all ease-in-out;

                        &.active {
                            transition: 0.3s all ease-in-out;
                            left: 0;
                            z-index: 30;
                        }

                    }

                    .chat-sidebar-header {
                        font-weight: 700;
                        height: 70px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: var(--bs-white);
                        border-bottom: 1px solid var(--bs-border-color);
                        padding: 0 10px;

                        @media screen and (max-width: 991px) {
                            justify-content: space-between;
                        }

                        .chat-sidebar-close {
                            text-decoration: none;
                            color: var(--black);
                            display: none;
                            border-radius: 50%;

                            @media screen and (max-width: 991px) {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 48px !important;
                                height: 30px !important;
                            }

                            &:hover {
                                background-color: var(--bs-border-color);
                            }

                        }

                    }

                    .chat-sidebar-body {
                        height: calc(100vh - 174px);
                        padding: 10px;
                        overflow-y: scroll;

                        &::-webkit-scrollbar {
                            background-color: transparent;
                            width: 5px;
                        }

                        &::-webkit-scrollbar-thumb {
                            background: var(--bs-border-color);
                            height: 5px !important;
                        }

                        .chat-sidebar-link {
                            display: flex;
                            align-items: center;
                            justify-content: start;
                            text-decoration: none;
                            color: var(--bs-black);
                            margin: 5px 0;
                            padding: 10px 15px;
                            border-radius: 5px;

                            .chat-user {
                                width: 35px;
                                height: 35px;
                                border-radius: 50%;
                                margin-right: 10px;
                            }

                            &:hover {
                                background-color: var(--bs-light);
                            }

                        }

                    }

                    .chat-sidebar-footer {
                        border-top: 1px solid var(--bs-border-color);
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        transition: 0.3s all ease-in-out;
                        text-align: center;

                        button {
                            width: 100%;
                            border: none;
                            outline: none;
                            color: var(--bs-white);
                            padding: 5px 10px;
                            background-color: var(--theme);
                            transition: 0.3s all ease-in-out;
                            border-radius: 5px;

                            &:hover {
                                background-color: var(--theme-dark);
                            }

                        }

                    }

                }

                .chat-body {
                    width: calc(100% - 270px);
                    height: calc(100vh - 145px);
                    background-color: var(--bs-light);

                    @media screen and (max-width: 991px) {
                        width: 100%;
                    }

                    .chat-body-header {
                        font-weight: 700;
                        height: 70px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background-color: var(--bs-light);
                        border-bottom: 1px solid var(--bs-border-color);
                        padding: 0 20px;

                        @media screen and (max-width: 991px) {
                            justify-content: space-between;
                        }

                        .btn-controller {
                            text-decoration: none;
                            color: var(--bs-black);
                            display: none;
                            padding: 5px 10px;
                            border-radius: 10px;

                            @media screen and (max-width: 991px) {
                                display: inline-block;
                            }

                            &:hover {
                                background-color: var(--bs-border-color);
                            }

                        }

                    }

                    .chat-provider {
                        display: flex;
                        align-items: center;
                        justify-content: start;

                        .chat-avatar {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            margin-right: 10px;
                        }

                    }

                    .chat-body-content {
                        height: calc(100vh - 174px);
                        overflow-y: scroll;

                        &::-webkit-scrollbar {
                            background-color: transparent;
                            width: 5px;
                        }

                        &::-webkit-scrollbar-thumb {
                            background: var(--bs-border-color);
                            height: 5px !important;
                        }

                        .chat-text-content{
                            height: calc(100vh - 310px);
                            font-size: 14px;
                            overflow-y: scroll;

                            &::-webkit-scrollbar {
                                background-color: transparent;
                                width: 5px;
                            }

                            &::-webkit-scrollbar-thumb {
                                background: var(--bs-border-color);
                                height: 5px !important;
                            }
                        }

                        .btn-icon{
                            outline: none;
                            border: none;
                            transition: 0.3s all ease-in-out;
                            padding: 5px 10px;

                            &:hover{
                                transition: 0.3s all ease-in-out;
                                background-color: var(--bs-border-color);
                            }

                        }

                    }

                }

            }

            // email wrapper

            .email-wrapper {
                display: flex;
                position: relative;
                overflow: hidden;
                border: 1px solid var(--bs-border-color);

                .email-sidebar {
                    width: 270px;
                    height: calc(100vh - 145px);
                    background-color: var(--bs-white);
                    border-right: 1px solid var(--bs-border-color);
                    overflow-y: hidden;
                    font-size: 14px;

                    @media screen and (max-width: 991px) {
                        position: absolute;
                        left: -270px;
                        top: 0;
                        transition: 0.3s all ease-in-out;

                        &.active {
                            transition: 0.3s all ease-in-out;
                            left: 0;
                            z-index: 30;
                        }

                    }

                    .email-sidebar-header {
                        font-weight: 700;
                        height: 70px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: var(--bs-white);
                        border-bottom: 1px solid var(--bs-border-color);
                        padding: 0 10px;

                        @media screen and (max-width: 991px) {
                            justify-content: space-between;
                        }

                        .email-sidebar-close {
                            text-decoration: none;
                            color: var(--black);
                            display: none;
                            border-radius: 50%;

                            @media screen and (max-width: 991px) {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 48px !important;
                                height: 30px !important;
                            }

                            &:hover {
                                background-color: var(--bs-border-color);
                            }

                        }

                    }

                    .email-sidebar-body {
                        height: calc(100vh - 265px);
                        padding: 10px;
                        overflow-y: scroll;

                        &::-webkit-scrollbar {
                            background-color: transparent;
                            width: 5px;
                        }

                        &::-webkit-scrollbar-thumb {
                            background: var(--bs-border-color);
                            height: 5px !important;
                        }

                        .email-sidebar-link {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            text-decoration: none;
                            color: var(--bs-black);
                            margin: 5px 0;
                            padding: 10px 15px;
                            border-radius: 5px;

                            .email-user {
                                width: 35px;
                                height: 35px;
                                border-radius: 50%;
                                margin-right: 10px;
                            }

                            &:hover {
                                background-color: var(--bs-light);
                            }

                        }

                    }

                    .email-sidebar-footer {
                        border-top: 1px solid var(--bs-border-color);
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        transition: 0.3s all ease-in-out;
                        text-align: center;

                        button {
                            width: 100%;
                            border: none;
                            outline: none;
                            color: var(--bs-white);
                            padding: 5px 10px;
                            background-color: var(--theme);
                            transition: 0.3s all ease-in-out;
                            border-radius: 5px;

                            &:hover {
                                background-color: var(--theme-dark);
                            }

                        }

                    }

                }

                .email-body {
                    width: calc(100% - 270px);
                    height: calc(100vh - 145px);
                    background-color: var(--bs-white);
                    position: relative;
                    overflow-x: hidden;

                    @media screen and (max-width: 991px) {
                        width: 100%;
                    }

                    .email-body-header {
                        font-weight: 700;
                        height: 70px;
                        display: flex;
                        justify-content: end;
                        align-items: center;
                        background-color: var(--bs-white);
                        padding: 0 20px;

                        @media screen and (max-width: 991px) {
                            justify-content: space-between;
                        }

                        .btn-controller {
                            text-decoration: none;
                            color: var(--bs-black);
                            display: none;
                            padding: 5px 10px;
                            border-radius: 10px;

                            @media screen and (max-width: 991px) {
                                display: inline-block;
                            }

                            &:hover {
                                background-color: var(--bs-border-color);
                            }

                        }

                    }

                    .email-body-content{
                        font-size: 14px;

                        .btn-icon{
                            width: 35px;
                            height: 35px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: none;
                            outline: none;
                            border-radius: 50%;

                            &:hover{
                                background-color: var(--bs-border-color);
                            }

                        }

                        .email-content{

                            .email-btn-group{
                                margin-left: 20px;
                                margin-bottom: 10px;
                            }

                            .email-list-content{
                                height: calc(100vh - 295px);
                                overflow-y: scroll;
                                padding: 0 20px;

                                &::-webkit-scrollbar {
                                    background-color: transparent;
                                    width: 5px;
                                }

                                &::-webkit-scrollbar-thumb {
                                    background: var(--bs-border-color);
                                    height: 5px !important;
                                }

                                .single-data{
                                    transition: 0.3s all ease-in-out;
                                    border-bottom: 1px solid var(--bs-border-color);

                                    &:last-child{
                                        border-bottom: 0;
                                    }

                                    &:nth-child(odd){
                                        background-color: var(--bs-light);
                                    }

                                }

                            }

                        }

                        .email-details-content{
                            width: 100%;
                            height: calc(100vh - 145px);
                            overflow-y: scroll;
                            position: absolute;
                            left: -100%;
                            top: 0;
                            bottom: 0;
                            background-color: var(--bs-white);
                            transition: 0.3s all ease-in-out;

                            &.active{
                                transition: 0.3s all ease-in-out;
                                left: 0;
                            }

                            &::-webkit-scrollbar {
                                background-color: transparent;
                                width: 5px;
                            }

                            &::-webkit-scrollbar-thumb {
                                background: var(--bs-border-color);
                                height: 5px !important;
                            }

                            .email-user-info{

                                .email-avatar{
                                    width: 45px;
                                    height: 45px;
                                    border-radius: 50%;
                                }

                            }

                        }

                        .email-composer{
                            width: 100%;
                            height: calc(100vh - 145px);
                            overflow-y: scroll;
                            position: absolute;
                            left: -100%;
                            top: 0;
                            bottom: 0;
                            background-color: var(--bs-white);
                            transition: 0.3s all ease-in-out;

                            &.active{
                                transition: 0.3s all ease-in-out;
                                left: 0;
                            }

                            &::-webkit-scrollbar {
                                background-color: transparent;
                                width: 5px;
                            }

                            &::-webkit-scrollbar-thumb {
                                background: var(--bs-border-color);
                                height: 5px !important;
                            }

                            .email-form-control{
                                width: 100%;
                                height: 45px;
                                outline: none;
                                padding: 0 15px;
                                border: 1px solid var(--bs-border-color);
                            }

                            .email-form-textarea{
                                width: 100%;
                                height: auto;
                                outline: none;
                                padding: 15px;
                                border: 1px solid var(--bs-border-color);
                            }

                        }

                    }

                }

            }

            // calendar wrapper

            .calendar-wrapper {
                display: flex;
                position: relative;
                overflow: hidden;
                border: 1px solid var(--bs-border-color);
                background-color: var(--bs-white);

                .calendar-sidebar{
                    width: 250px;
                    height: calc(100vh - 145px);
                    border-right: 1px solid var(--bs-border-color);
                    background-color: var(--bs-white);
                    padding: 10px;

                    @media screen and (max-width: 991px) {
                        position: absolute;
                        top: 0;
                        left: -250px;
                        bottom: 0;
                        transition: 0.3s all ease-in-out;
                        z-index: 30;

                        &.active{
                            transition: 0.3s all ease-in-out;
                            left: 0;
                        }

                    }


                    .calendar-sidebar-header{
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        @media screen and (max-width: 991px) {
                            justify-content: space-between;
                        }

                        .btn{
                            width: 100%;

                            @media screen and (max-width: 991px) {
                                width: 80%;
                            }

                        }

                        .btn-close{
                            box-shadow: 0 0 0 0 !important;
                            width: 25px;
                            height: 25px;
                            transition: 0.3s all ease-in-out;
                            border-radius: 50%;
                            display: none;

                            @media screen and (max-width: 991px) {
                                display: inline-block;
                            }

                            &:hover{
                                transition: 0.3s all ease-in-out;
                                background-color: var(--bs-border-color);
                            }

                        }

                    }

                    .calendar-sidebar-body{
                        height: calc(100vh - 230px);
                        overflow-y: scroll;

                        @media screen and (max-width: 991px) {
                            width: 100%;
                        }

                        &::-webkit-scrollbar {
                            background-color: transparent;
                            width: 5px;
                        }

                        &::-webkit-scrollbar-thumb {
                            background: var(--bs-border-color);
                            height: 5px !important;
                        }

                        .btn-effect{
                            width: 100%;
                            text-align: start;
                            display: block;
                            transition: 0.3s all ease-in-out;
                            border: none;
                            outline: none;
                            height: 40px;
                            border-radius: 5px;
                            background-color: transparent;
                            padding: 0 15px;
                            margin-bottom: 10px;
                            color: var(--bs-secondary);

                            &:hover{
                                transition: 0.3s all ease-in-out;
                                background-color: var(--bs-border-color);
                            }

                        }

                    }

                }

                .calendar-content{
                    width: calc(100% - 250px);
                    height: calc(100vh - 145px);
                    background-color: var(--bs-white);

                    @media screen and (max-width: 991px) {
                        width: 100%;
                    }

                    .calendar-content-header{
                        height: 70px;
                        display: flex;
                        justify-content: end;
                        align-items: center;
                        padding: 0 15px;

                        @media screen and (max-width:991px) {
                            justify-content: space-between;
                        }

                        .btn-controller{
                            text-decoration: none;
                            color: var(--bs-black);
                            padding: 5px 10px;
                            border-radius: 10px;
                            display: none;

                            @media screen and (max-width: 991px) {
                                display: inline-block;
                            }

                            &:hover {
                                background-color: var(--bs-border-color);
                            }
                        }
                    }

                    .calendar-content-body{
                        height: calc(100vh - 200px);
                        overflow-y: scroll;
                        padding: 12px 27px;

                        &::-webkit-scrollbar {
                            background-color: transparent;
                            width: 5px;
                        }

                        &::-webkit-scrollbar-thumb {
                            background: var(--bs-border-color);
                            height: 5px !important;
                        }

                    }

                    .calendar-modal{
                        position: absolute;
                        right: -320px;
                        top: 0;
                        bottom: 0;
                        width: 320px;
                        height: 100%;
                        background-color: var(--bs-white);
                        border-left: 1px solid var(--bs-border-color);
                        transition: 0.3s all ease-in-out;

                        &.active{
                            transition: 0.3s all ease-in-out;
                            right: 0;
                        }

                        .btn-close{
                            box-shadow: 0 0 0 0 !important;
                            width: 25px;
                            height: 25px;
                            transition: 0.3s all ease-in-out;
                            border-radius: 50%;

                            &:hover{
                                transition: 0.3s all ease-in-out;
                                background-color: var(--bs-border-color);
                            }

                        }

                        .calendar-modal-content {
                            height: calc(100vh - 210px);
                            overflow-y: scroll;

                            &::-webkit-scrollbar {
                                background-color: transparent;
                                width: 5px;
                            }

                            &::-webkit-scrollbar-thumb {
                                background: var(--bs-border-color);
                                height: 5px !important;
                            }
                        }

                    }

                }

            }

            // invoice wrapper

            .invoice-wrapper{
                width: 100%;

                .invoice-header{
                    background-color: var(--bs-white);
                    padding: 0 12px;
                }

                .invoice-body{
                    height: calc(100vh - 230px);
                    overflow-y: scroll;

                    &::-webkit-scrollbar {
                        background-color: transparent;
                        width: 5px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: var(--bs-border-color);
                        height: 5px !important;
                    }

                }

                .invoice-manage-content{
                    max-width: 1300px;
                    font-size: 14px;

                    .btn-discount{
                        width: 65px;
                        height: 45px;
                        background-color: var(--bs-light);
                        border: 1px solid var(--bs-border-color);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;

                        &.active{
                            border: 1px solid var(--theme);
                            .check-icon{
                                opacity: 1;
                                visibility: visible;
                            }
                        }

                        .check-icon{
                            top: -7px;
                            right: -6px;
                            position: absolute;
                            opacity: 0;
                            visibility: hidden;
                            width: 16px;
                            height: 16px;
                            background-color: var(--bs-white);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                        }

                    }

                }

            }

            // user wrapper

            .user-wrapper{
                width: 100%;

                .user-header{
                    background-color: var(--bs-white);
                    padding: 0 12px;
                }

                .user-body{
                    height: calc(100vh - 230px);
                    overflow-y: scroll;

                    &::-webkit-scrollbar {
                        background-color: transparent;
                        width: 5px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: var(--bs-border-color);
                        height: 5px !important;
                    }

                }

                .user-modal{
                    position: fixed;
                    top: 0;
                    right: -320px;
                    bottom: 0;
                    width: 320px;
                    height: 100vh;
                    background-color: var(--bs-white);
                    border-left: 1px solid var(--bs-border-color);
                    transition: 0.3s all ease-in-out;

                    &.active{
                        transition: 0.3s all ease-in-out;
                        right: 0;
                    }

                    .btn-close{
                        box-shadow: 0 0 0 0 !important;
                        width: 25px;
                        height: 25px;
                        transition: 0.3s all ease-in-out;
                        border-radius: 50%;

                        &:hover{
                            transition: 0.3s all ease-in-out;
                            background-color: var(--bs-border-color);
                        }

                    }

                    .user-content{
                        height: calc(100vh - 100px);
                        overflow-y: scroll;

                        &::-webkit-scrollbar {
                            background-color: transparent;
                            width: 5px;
                        }

                        &::-webkit-scrollbar-thumb {
                            background: var(--bs-border-color);
                            height: 5px !important;
                        }

                    }

                }

            }

        }

    }

}

#preloader{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--bs-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}
