.user-authentication {

    .form-content {
        width: 500px;
        box-shadow: 0 0 12px 0 var(--bs-border-color);
        border-radius: 9px;
        padding: 35px;
        background-color: var(--bs-white);

        @media screen and (max-width: 576px) {
            width: 97%;
        }

    }

    .error-report{
        margin-top: 5px;
        color: var(--bs-danger);
        font-size: 12px;
    }

}
