.front-portal{

    &::-webkit-scrollbar {
        background-color: transparent;
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--bs-border-color);
        height: 5px !important;
    }

    .slider-carousel{

        .slider-item{
            width: 100%;
            height: 450px;
            background-size: cover !important;

            @media screen and (max-width: 768px) {
                height: 350px;
            }

        }

    }

    .product-carousel, .product-single{
        position: relative;

        .item{
            padding: 20px;

            &:hover{
                transition: 0.3s all ease-in-out;

                .product-item{
                    box-shadow: 0 0 12px 0 var(--bs-border-color);

                    .product-active{
                        top: 0;
                        visibility: visible;
                        opacity: 1;
                    }

                }

            }

            .product-item{
                padding: 30px 15px;

                .product-active{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: -100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.3s all ease-in-out;
                }

            }

        }

    }

    .coupon-box{
        height: 200px;
        box-shadow: 0 0 12px 0 var(--bs-border-color) !important;
        cursor: pointer;
    }

    .blog-carousel{

        .blog-item{
            padding: 10px;

            .blog-image{
                height: 250px;
            }

        }

    }

    .shop-wrapper{
        display: flex;
        position: relative;
        overflow: hidden;

        .shop-sidebar{
            width: 300px;
            height: calc(100vh - 150px);
            padding: 15px;

            @media screen and (max-width: 1200px) {
                position: absolute;
                left: -300px;
                top: 0;
                bottom: 0;
                z-index: 3;
                background-color: var(--bs-white);
                transition: 0.3s all ease-in-out;

                &.active{
                    transition: 0.3s all ease-in-out;
                    left: 0;
                }

            }


            .sidebar-close{
                display: none;

                @media screen and (max-width: 1200px) {
                    display: flex;
                    justify-content: end;
                    align-items: center;
                }

            }

        }

        .shop-content{
            width: calc(100% - 300px);
            height: calc(100vh - 150px);

            @media screen and (max-width: 1200px) {
                width: 100%;
            }

            .btn-controller{
                visibility: hidden;
                outline: none;
                border: none;

                @media screen and (max-width: 1200px) {
                    visibility: visible;
                    padding: 10px 20px;
                    border-radius: 10px;
                }

            }

            .shop-product-content{
                height: calc(100vh - 300px);
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    background-color: transparent;
                    width: 5px;
                }

                &::-webkit-scrollbar-thumb {
                    background: var(--bs-border-color);
                    height: 5px !important;
                }

            }

        }

    }

}
