.front-portal {

    /*
    |--------------------------------------------------------------------------
    |------ header as navbar custom -------------------------------------------
    |--------------------------------------------------------------------------
    */

    .navbar {

        .navbar-brand {}

        .collapse, .collapsing {
            font-family: var(--lato-font);

            @media screen and (max-width: 991px) {
                position: fixed;
                top: 0;
                bottom: 0;
                right: -400px;
                width: 360px;
                height: 100%;
                background-color: var(--bs-light);
                padding: 30px;
                box-shadow: 0 0 8px 0 var(--bs-border-color);
                display: block !important;
                transition: 0.3s all ease-in-out !important;

                &.show {
                    transition: 0.3s all ease-in-out !important;
                    right: 0;
                }

            }

            @media screen and (max-width: 576px) {
                position: fixed;
                top: 0;
                bottom: 0;
                right: -110%;
                width: 100%;
                height: 100%;
                background-color: var(--bs-light);
                padding: 30px;
                box-shadow: 0 0 8px 0 var(--bs-border-color);
                display: block !important;
                transition: 0.3s all ease-in-out !important;

                &.show {
                    transition: 0.3s all ease-in-out !important;
                    right: 0;
                }

            }

            .navbar-nav {

                .nav-item {

                    .nav-link {
                        transition: 0.3s all ease-in-out;

                        &:hover, &.router-link-active, &.router-link-exact-active{
                            transition: 0.3s all ease-in-out;
                            color: var(--theme);
                        }

                    }

                    .icon-close {
                        background-color: var(--bs-white);
                        box-shadow: 0 0 8px 0 var(--bs-border-color);
                        transition: 0.3s all ease-in-out;

                        &:hover {
                            transition: 0.3s all ease-in-out;
                            box-shadow: 0 0 12px 0 var(--bs-border-color);
                        }
                    }
                }
            }
        }

        .navbar-toggler {
            background-color: var(--bs-white);
            box-shadow: 0 0 8px 0 var(--bs-border-color);
            transition: box-shadow 0.3s ease-in-out;

            &:hover {
                box-shadow: 0 0 12px 0 var(--bs-border-color);
            }
        }
    }

    /*
    |--------------------------------------------------------------------------
    |------ body scrollbar custom ---------------------------------------------
    |--------------------------------------------------------------------------
    */

    &::-webkit-scrollbar {
        background-color: transparent;
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--bs-border-color);
        height: 5px !important;
    }

    /*
    |--------------------------------------------------------------------------
    |------ slider owl carousel custom ----------------------------------------
    |--------------------------------------------------------------------------
    */

    .slider-carousel {
        .slider-item {
            width: 100%;
            height: 450px;
            background-size: cover !important;
            @media screen and (max-width: 768px) {
                height: 350px;
            }
        }
    }

    /*
    |--------------------------------------------------------------------------
    |------ product owl carousel custom ---------------------------------------
    |--------------------------------------------------------------------------
    */

    .product-carousel, .product-single {
        position: relative;

        .item {
            padding: 20px;

            &:hover {
                transition: 0.3s all ease-in-out;

                .product-item {
                    box-shadow: 0 0 12px 0 var(--bs-border-color);

                    .product-active {
                        top: 0;
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }

            .product-item {
                padding: 30px 15px;

                .product-active {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: -100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.3s all ease-in-out;
                }
            }
        }
    }

    /*
    |--------------------------------------------------------------------------
    |------ coupon box owl carousel custom ------------------------------------
    |--------------------------------------------------------------------------
    */

    .coupon-box {
        height: 250px;
        background-size: cover !important;
        background-repeat: no-repeat;
        box-shadow: 0 0 12px 0 var(--bs-border-color) !important;
        cursor: pointer;
        position: relative;
        overflow: hidden;

        &:hover {
            transition: 0.5s all ease-in-out;

            &::before {
                left: 0;
                bottom: 0;
            }

            &::after {
                right: 0;
                top: 0;
            }
        }

        &::before {
            transition: 0.5s all ease-in-out;
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            left: -100%;
            bottom: -100%;
            background-color: var(--bs-white);
            opacity: 0.1;
        }

        &::after {
            transition: 0.5s all ease-in-out;
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            right: -100%;
            top: -100%;
            background-color: var(--bs-white);
            opacity: 0.1;
        }
    }

    /*
    |--------------------------------------------------------------------------
    |------ blog owl carousel custom ------------------------------------------
    |--------------------------------------------------------------------------
    */

    .blog-carousel {

        .item {
            padding: 20px;

            .blog-item {
                padding: 10px;

                &:hover {
                    transition: 0.3s all ease-in-out;
                    box-shadow: 0 0 12px 0 var(--bs-border-color);

                    .blog-image {
                        transform: scale(1.5);
                    }

                }

                .blog-item-top {
                    height: 250px;
                    overflow: hidden;

                    .blog-image {
                        height: 250px;
                        transition: 0.3s all ease-in-out;
                    }

                }

            }

        }

    }

    /*
    |--------------------------------------------------------------------------
    |------ shop wrapper custom -----------------------------------------------
    |--------------------------------------------------------------------------
    */

    .shop-wrapper {
        display: flex;
        position: relative;
        overflow-x: hidden;

        .shop-sidebar {
            width: 300px;

            @media screen and (max-width: 991px) {
                position: absolute;
                top: 0;
                bottom: 0;
                left: -310px;
                z-index: 1025;
                transition: 0.3s all ease-in-out;
                background-color: var(--bs-white);
                border: 1px solid var(--bs-border-color);
                overflow-y: scroll;
            }
            @media screen and (max-width: 576px) {
                width: 100%;
                left: -120%;
            }

            @media screen and (max-width: 991px) {
                &.active {
                    left: 0;
                    transition: 0.3s all ease-in-out;
                }
            }

            .shop-sidebar-header {
                height: 70px;
                padding-top: 15px;
                padding-left: 15px;
                font-size: 22px;
                display: flex;
                justify-content: start;
                align-items: center;

                @media screen and (max-width: 991px) {
                    border-bottom: 1px solid var(--bs-border-color);
                    justify-content: space-between;
                    background-color: var(--bs-white);
                }

                .btn-icon {
                    display: none;
                    @media screen and (max-width: 991px) {
                        display: inline-block;
                    }
                }
            }

            .shop-sidebar-body {
                padding: 15px;

                .shop-sidebar-content {
                    width: 100%;

                    .hover-effect-link {
                        color: var(--bs-secondary);
                        transition: 0.3s all ease-in-out;
                        padding: 7px 14px;

                        &:hover {
                            color: var(--theme);
                            transition: 0.3s all ease-in-out;
                            background-color: var(--bs-light);
                        }
                    }
                }
            }
        }

        .shop-content {
            width: calc(100% - 300px);
            @media screen and (max-width: 991px) {
                width: 100%;
            }

            .shop-content-header {
                height: 70px;
                padding: 0 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .btn-icon {
                    visibility: hidden;
                    @media screen and (max-width: 991px) {
                        visibility: visible;
                    }
                }
            }

            .shop-content-body {
                padding: 15px;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    background-color: transparent;
                    width: 5px;
                }

                &::-webkit-scrollbar-thumb {
                    background: var(--bs-border-color);
                    height: 5px !important;
                }
            }

            .shop-content-footer {
                padding: 15px;
            }
        }
    }

    /*
    |--------------------------------------------------------------------------
    |------ customer wrapper custom -------------------------------------------
    |--------------------------------------------------------------------------
    */

    .customer-wrapper {
        .customer-avatar {
            width: 175px;
            height: 175px;
            border-radius: 50%;
            background-color: var(--bs-border-color);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s all ease-in-out;
            position: relative;

            &:hover {
                transition: 0.3s all ease-in-out;
                box-shadow: 0 0 8px 0 var(--bs-border-color);
            }

            img {
                width: 175px;
                height: 175px;
                border-radius: 50%;
            }

            .delete-icon {
                position: absolute;
                bottom: 5px;
                right: 5px;
                z-index: 2;
                background-color: var(--bs-light);
                width: 40px;
                height: 40px;
                border-radius: 50%;
                box-shadow: 0 0 2px 0 var(--bs-gray);
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.3s all ease-in-out;

                &:hover {
                    transition: 0.3s all ease-in-out;
                    box-shadow: 0 0 8px 0 var(--bs-gray);
                }
            }
        }
    }

    .map {
        width: 100%;
        height: 350px;
    }

    /*
    |--------------------------------------------------------------------------
    |------ blogs custom ------------------------------------------------------
    |--------------------------------------------------------------------------
    */

    .blogs {

        .blog-content {
            transition: 0.3s all ease-in-out;

            &:hover {
                transition: 0.3s all ease-in-out;

                .image-effect {
                    transition: 0.4s all ease-in-out;
                    transform: scale(1.2);
                }

            }

            .image-effect {
                transition: 0.4s all ease-in-out;
                transform: scale(1);
            }

        }

        .link-hover-effect {
            text-decoration: none;
            color: var(--bs-secondary);
            background-color: var(--bs-white);
            transition: 0.3s all ease-in-out;

            &:hover {
                color: var(--theme);
                transition: 0.3s all ease-in-out;
            }

        }

    }

    /*
    |--------------------------------------------------------------------------
    |------ cart body custom where show cart items ----------------------------
    |--------------------------------------------------------------------------
    */

    .cart-body {
        height: calc(100vh - 169px);
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 5px;

        &::-webkit-scrollbar {
            background-color: transparent;
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--bs-border-color);
            height: 5px !important;
        }
    }

    /*
    |--------------------------------------------------------------------------
    |------ single product details show effect in image -----------------------
    |--------------------------------------------------------------------------
    */

    .zoom {
        background-position: 100% 100%;
        position: relative;
        width: 100%;
        overflow: hidden;
        cursor: zoom-in;

        img {
            transition: opacity .3s;
            display: block;
            width: 100%;

            &:hover {
                opacity: 0;
            }
        }
    }
}
