.user-wrapper {
    display: flex;

    @import "components/user-sidebar";

    /*
    |--------------------------------------------------------------------------
    |------ user content ------------------------------------------------------
    |--------------------------------------------------------------------------
    */

    .user-content {
        width: calc(100% - 250px);
        height: 100vh;

        @media screen and (max-width: 991px) {
            width: 100%;
        }

        /*
        |--------------------------------------------------------------------------
        |------ user content header -----------------------------------------------
        |--------------------------------------------------------------------------
        */

        @import "components/user-header";

        /*
        |--------------------------------------------------------------------------
        |------ user content body -------------------------------------------------
        |--------------------------------------------------------------------------
        */

        .user-content-body {
            height: calc(100vh - 70px);
            padding: 15px 20px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                background-color: transparent;
                width: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background: var(--bs-border-color);
                height: 5px !important;
            }

            /*
            |--------------------------------------------------------------------------
            |------ chat wrapper ------------------------------------------------------
            |--------------------------------------------------------------------------
            */

            @import "components/chat-wrapper";

            /*
            |--------------------------------------------------------------------------
            |------ email wrapper -----------------------------------------------------
            |--------------------------------------------------------------------------
            */

            @import "components/email-wrapper";

            /*
            |--------------------------------------------------------------------------
            |------ calendar wrapper --------------------------------------------------
            |--------------------------------------------------------------------------
            */

            @import "components/calendar-wrapper";

            /*
            |--------------------------------------------------------------------------
            |------ invoice wrapper --------------------------------------------------
            |--------------------------------------------------------------------------
            */

            @import "components/invoice-wrapper";

            /*
            |--------------------------------------------------------------------------
            |------ user wrapper ------------------------------------------------------
            |--------------------------------------------------------------------------
            */

            @import "components/user-content-wrapper";

            /*
            |--------------------------------------------------------------------------
            |------ pricing wrapper ---------------------------------------------------
            |--------------------------------------------------------------------------
            */

            @import "components/price-wrapper";

            /*
            |--------------------------------------------------------------------------
            |------ profile wrapper ---------------------------------------------------
            |--------------------------------------------------------------------------
            */

            @import "components/profile-wrapper";

            /*
            |--------------------------------------------------------------------------
            |------ slider wrapper ----------------------------------------------------
            |--------------------------------------------------------------------------
            */

            @import "components/slider-wrapper";

            /*
            |--------------------------------------------------------------------------
            |------ card body ---------------------------------------------------------
            |--------------------------------------------------------------------------
            */

            @import "components/card-body";

        }

    }

}
