.invoice-wrapper {
    width: 100%;

    .invoice-header {
        background-color: var(--bs-white);
        padding: 0 12px;
    }

    .invoice-body {
        height: calc(100vh - 230px);
        overflow-y: scroll;

        &::-webkit-scrollbar {
            background-color: transparent;
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--bs-border-color);
            height: 5px !important;
        }

    }

    .invoice-manage-content {
        max-width: 1300px;
        font-size: 14px;
    }

}
